<html>
    <head>
        <title>Text Utilizer</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    
<body>
    <div class='w-96 h-64 mx-[400px] mt-64 rounded-lg bg-slate-300'>
    <h1 class='text-xl mt-8 text-center bg-blue-400'>Your Analyzed_type - {{purpose}}</h1>
 
    <h1 class='text-xl mt-6 bg-blue-400 text-center'>Input text</h1>
    <pre class='text-xl mt-2 text-center'>{{text}}</pre>

    <h1 class='text-xl mt-6 text-center bg-blue-400'>Result</h1> 
    <pre class='text-xl mt-2 text-center '>{{analyzed_text}}</pre>

    <pre class='text-xl mt-6 text-center'>{{c}}</pre>
    </div>
</body>
</html>

